# import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Download file

In [3]:
airline_q=pd.read_csv('/Users/roaa/Downloads/Airline Quality Ratings.csv')
airline_q

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
129876,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
129877,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
129878,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
129879,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

# Scan and clean data

In [4]:
airline_q.sample(10)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
95118,95119,Female,43,Returning,Personal,Economy,677,0,0.0,4,...,5,3,3,4,1,5,4,5,5,Satisfied
106469,106470,Female,22,First-time,Business,Economy,1300,7,9.0,2,...,2,3,2,3,3,4,2,3,3,Neutral or Dissatisfied
88767,88768,Male,63,Returning,Business,Business,404,13,24.0,4,...,4,4,4,5,2,4,4,4,4,Satisfied
6684,6685,Female,58,First-time,Business,Business,438,27,22.0,1,...,3,4,5,5,5,5,1,5,5,Neutral or Dissatisfied
56010,56011,Male,49,Returning,Business,Business,2586,60,51.0,5,...,5,5,5,5,5,3,5,4,4,Satisfied
121182,121183,Female,21,Returning,Personal,Economy,2370,0,41.0,4,...,4,2,4,2,2,4,2,5,5,Neutral or Dissatisfied
71113,71114,Male,16,Returning,Personal,Economy,2072,0,0.0,4,...,3,4,4,4,4,5,2,4,5,Neutral or Dissatisfied
46111,46112,Female,51,Returning,Personal,Economy,1154,0,3.0,4,...,4,4,3,5,2,4,3,4,4,Neutral or Dissatisfied
78418,78419,Male,38,Returning,Business,Economy,201,0,0.0,2,...,4,2,3,2,2,3,2,2,3,Neutral or Dissatisfied
39837,39838,Male,58,First-time,Business,Business,272,0,0.0,2,...,3,4,3,4,4,1,2,4,2,Satisfied

In [5]:
airline_q.isnull().sum()

ID                                          0
Gender                                      0
Age                                         0
Customer Type                               0
Type of Travel                              0
Class                                       0
Flight Distance                             0
Departure Delay                             0
Arrival Delay                             393
Departure and Arrival Time Convenience      0
Ease of Online Booking                      0
Check-in Service                            0
Online Boarding                             0
Gate Location                               0
On-board Service                            0
Seat Comfort                                0
Leg Room Service                            0
Cleanliness                                 0
Food and Drink                              0
In-flight Service                           0
In-flight Wifi Service                      0
In-flight Entertainment                     0
Baggage Handling                            0
Satisfaction                                0
dtype: int64

In [6]:
airline_q['Arrival Delay']=airline_q['Arrival Delay'].fillna(0)

In [7]:
airline_q.isnull().sum()

ID                                        0
Gender                                    0
Age                                       0
Customer Type                             0
Type of Travel                            0
Class                                     0
Flight Distance                           0
Departure Delay                           0
Arrival Delay                             0
Departure and Arrival Time Convenience    0
Ease of Online Booking                    0
Check-in Service                          0
Online Boarding                           0
Gate Location                             0
On-board Service                          0
Seat Comfort                              0
Leg Room Service                          0
Cleanliness                               0
Food and Drink                            0
In-flight Service                         0
In-flight Wifi Service                    0
In-flight Entertainment                   0
Baggage Handling                          0
Satisfaction                              0
dtype: int64

# Data exploration

In [8]:
airline_q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129880 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [9]:
airline_q['Customer Type'].value_counts()

Customer Type
Returning     106100
First-time     23780
Name: count, dtype: int64

In [10]:
airline_q['Gender'].value_counts()

Gender
Female    65899
Male      63981
Name: count, dtype: int64

In [11]:
airline_q['Class'].value_counts()

Class
Business        62160
Economy         58309
Economy Plus     9411
Name: count, dtype: int64

In [12]:
airline_q['Satisfaction'].value_counts()

Satisfaction
Neutral or Dissatisfied    73452
Satisfied                  56428
Name: count, dtype: int64

# Data plot & Analysis

In [19]:
airline_q['Percentage of quality of service provided']=((airline_q['Departure and Arrival Time Convenience']+airline_q['On-board Service']+airline_q['Seat Comfort']+airline_q['Leg Room Service']+airline_q['Cleanliness']+airline_q['Food and Drink']+airline_q['In-flight Service']+airline_q['In-flight Wifi Service']+airline_q['In-flight Entertainment']+airline_q['Baggage Handling'])/50)*100
airline_q

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction,Percentage of quality of service provided
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,5,2,5,5,5,3,5,5,Neutral or Dissatisfied,82.0
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,4,5,5,3,5,2,5,5,Satisfied,82.0
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,5,3,5,5,3,4,3,3,Satisfied,76.0
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,4,4,5,2,5,5,Satisfied,84.0
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,4,4,5,4,3,3,3,3,Satisfied,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,1,4,4,4,5,4,4,4,Neutral or Dissatisfied,78.0
129876,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,2,5,2,2,4,3,2,5,Neutral or Dissatisfied,70.0
129877,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,4,3,3,4,2,3,5,Neutral or Dissatisfied,70.0
129878,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,5,3,3,4,5,3,5,Satisfied,80.0
129879,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,2,4,2,2,2,3,2,1,Neutral or Dissatisfied,46.0

In [ ]:
plt.figure(figsize=(10, 10))
#sns.barplot(x=airline_q['Class'], y=['Percentage of quality of service provided'],palette='spring')
plt.xlabel('Class')
plt.ylabel('Percentage of quality of service provided')
plt.title('Percentage of quality of service provided for every calss')
plt.show()

# save and Documenting the results

In [ ]:
airline_q.to_excel("airline_quality.xlsx",index=False)