In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import colormaps
import datetime as dt
from datetime import datetime

In [3]:
study_pfm=pd.read_csv("/Users/roaa/Downloads/study_performance.csv")

In [4]:
study_pfm.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
study_pfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
study_pfm.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [7]:
study_pfm.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
(study_pfm['math_score']==0).sum()

1

In [12]:
study_pfm.loc[(study_pfm['math_score']==0)]

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
59,female,group C,some high school,free/reduced,none,0,17,10

In [16]:
study_pfm['math_score']=study_pfm['math_score'].replace(0,np.nan)

In [17]:
study_pfm.dropna(subset=['math_score'],inplace=True)

In [18]:
study_pfm.describe()

       math_score  reading_score  writing_score
count  999.000000     999.000000     999.000000
mean    66.155155      69.221221      68.112112
std     15.025594      14.513766      15.091685
min      8.000000      23.000000      15.000000
25%     57.000000      59.000000      58.000000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.000000      79.000000
max    100.000000     100.000000     100.000000

In [51]:
study_pfm.sample(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total,total%
662,female,group D,some college,free/reduced,none,55.0,71,69,65.000000,65
786,female,group E,some high school,free/reduced,none,72.0,79,77,76.000000,76
908,female,group C,bachelor's degree,free/reduced,none,67.0,75,72,71.333333,71
726,female,group E,associate's degree,standard,completed,65.0,75,77,72.333333,72
925,male,group E,some high school,standard,completed,74.0,64,60,66.000000,66

In [68]:
study_pfm['total']=(study_pfm['math_score']+study_pfm['reading_score']+study_pfm['writing_score'])

In [74]:
study_pfm['total%']=((study_pfm['math_score']+study_pfm['reading_score']+study_pfm['writing_score'])/300)*100

In [75]:
study_pfm['total%']=study_pfm['total%'].astype(int)

In [77]:
study_pfm.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total,total%
0,female,group B,bachelor's degree,standard,none,72.0,72,74,218.0,72
1,female,group C,some college,standard,completed,69.0,90,88,247.0,82
2,female,group B,master's degree,standard,none,90.0,95,93,278.0,92
3,male,group A,associate's degree,free/reduced,none,47.0,57,44,148.0,49
4,male,group C,some college,standard,none,76.0,78,75,229.0,76

In [81]:
study_pfm['gender'].value_counts()

gender
female    517
male      482
Name: count, dtype: int64

In [85]:
study_pfm['race_ethnicity'].value_counts()

race_ethnicity
group C    318
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [86]:
study_pfm['parental_level_of_education'].value_counts()

parental_level_of_education
some college          226
associate's degree    222
high school           196
some high school      178
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [87]:
study_pfm['lunch'].value_counts()

lunch
standard        645
free/reduced    354
Name: count, dtype: int64

In [88]:
study_pfm['test_preparation_course'].value_counts()

test_preparation_course
none         641
completed    358
Name: count, dtype: int64

In [104]:
study_pfm.to_excel("spn.xlsx",index=False)